<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
    </head>

    <body>
        <header>
            <div class="">
                Assess this Article Please
            </div>
        </header>

        <main>
            <section>
                <form class="" onsubmit="return Client.handleSubmit(event)">
                    <input id="article" type="text" name="input" value="" placeholder="Article URL">
                    <input type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
                </form>
            <section>

            <section id="assessment">
                <strong id="assessmentTitle">Article Assessment:</strong>
                <h3 id="score_tag"></h3>
                <h3 id="agreement"></h3>
                <h3 id="subjectivity"></h3>
                <h3 id="confidence"></h3>
                <h3 id="irony"></h3>
            </section>
        </main>

        <footer>
            <p>Ed O'Connor Udacity Project 4, 2020</p>
        </footer>

    </body>
</html>
